/* content therapie Styles */

.default{

    @media screen and (max-width:979px) {
        .content{}
    }

    @media only screen and (max-device-width:979px) and (-webkit-min-device-pixel-ratio : 1.5) and (min-device-pixel-ratio : 1.5) and (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3){
        .content{}
    }

    @media screen and (max-width:600px) {

    }

    @media only screen and (max-device-width:600px) and (-webkit-min-device-pixel-ratio : 1.5) and (min-device-pixel-ratio : 1.5) and (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3){

    }
}