/* content start Styles */

.start-page {
    section {
        table {
            width: calc(100% - 20px);
            margin:10px;
        }
        td{
            vertical-align: middle;
            padding:5px;
            &.right{
                text-align:right;
            }
        }
        width:1024px;
        margin:0 auto;
       
        &.product-list {
            width: 900px;
            @include border-radius(3px);
            background:$yellow-light;
            border:1px solid $yellow;
            min-height: 300px;
            margin: 0px auto 0px auto;
            h2{
                background:$yellow;
                padding:10px;
            }
            tr{
                border-bottom:solid 1px $yellow;
            }
        }
        &.shopping-card {
            width: 900px;
            @include border-radius(3px);
            background:$blue-light;
            border:1px solid $blue;
            margin: 20px auto 0px auto;
            p{
                    padding:10px;
                }
            h2{
                background:$blue;
                padding:10px;
            }
            tr{
                border-bottom:solid 1px $blue;
            }
            .user-data{
                display:block;
                input[type="text"]{
                    @include border-radius(3px);
                    border:solid 1px $base-grey;
                    padding:10px;
                }
                border-bottom:1px solid $blue;
                margin: 0 10px;
                padding:0 0 10px 0;
            }
            .shopping-card-nav {  
                button{
                    float:right;
                }
                clear: both;
                height:45px;
                padding:5px 10px 5px 10px;
                
            }
            .message{
                display:none;
                padding:10px;
                background:$message-warn;
            }
        }
        &.product-single {
            width: 900px;
            @include border-radius(3px);
            background:$yellow-light;
            border:1px solid $yellow;
            height: 350px;
            margin: 0px auto 0px auto;
            .col-text{
                float:left;
                width:350px;
                p{
                    padding:10px;
                }
            }
            .col-nav{
                float:left;
                width:179px;
                padding:10px 10px 0 10px;
                button{
                    display:block;
                    width:100%;
                }
                border-left:$yellow solid 1px;
                height:340px;
            }
            .col-img{
                float:left;
                padding:10px
            }
        }
        .show-shopping-card-single{
            display:block;
        }
        .hide-shopping-card-single{
            display:none;
        }
        &.show-single{
            display:none;
        }
        &.show-list{
            display:none;
        }
    }
    @media screen and (max-width: 979px) {}@media only screen and (max-device-width: 979px) and (-webkit-min-device-pixel-ratio: 1.5) and (min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3) {}@media screen and (max-width: 600px) {}@media only screen and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 1.5) and (min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3) {}
}