/* Fonts */
@font-face {
  font-family: 'maas-font-icons';
  src:  url('../assets/fonts/icomoon.eot?m4gecj');
  src:  url('../assets/fonts/icomoon.eot?m4gecj#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?m4gecj') format('truetype'),
    url('../assets/fonts/icomoon.woff?m4gecj') format('woff'),
    url('../assets/fonts/icomoon.svg?m4gecj#maas-font-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'maas-font-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-price-tag:before {
  content: "\e935";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-euro:before {
  content: "\e93c";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-leaf:before {
  content: "\e9a4";
}

.icon-warning:before {
  content: "\ea07";
}

