/* Header styles */

header{
	display:block;
	min-height:90px;
	top:0px;
	width:100%;
	z-index:99;
    background:$base-white;

    .header-row{
        margin:0 auto;
        width:900px;
    }

    .logo{
        height:40px;
        width:140px;
        float:left;
        margin:30px 120px 0 0;
        i{   
            font-size: 3em;
        }
    }
    
    .language{
        float:right;
        margin:40px 0 0 0;
        
        [class^="icon-"]{
            vertical-align:-1px;
            margin:0 5px 0 0;
        }   
        a{
            
        }
        span{
            font-size:0.8em;
            vertical-align:2px;
            border-left:2px solid $base-blue;
            margin:0 4px 0 0;
        }
    }
}


@media screen and (max-width: 600px) {
	header{
		display:block;
		min-height:auto;
		position:relative;
	}
}

@media only screen and (max-device-width:600px) and (-webkit-min-device-pixel-ratio : 1.5) and (min-device-pixel-ratio : 1.5) and (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3){
	header{
		display:block;
		min-height:auto;
		position:relative;
	}
}