/* Navigation styles for header and side nav */

nav {
    ul{
        margin:40px 0 0 0;
        float:left;
    }
    li {
        display: inline;
        a {
            font-family: $nav-font;
            font-weight: $nav-font-weight;
            margin-right:20px;
        }
    }
    background:none;
    height:auto;
}
@media screen and (max-width: 600px) {}@media only screen and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 1.5) and (min-device-pixel-ratio: 1.5) and (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3) {
    nav {}
}