// CSS Variables

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// Base Font
$base-font-family: sans-serif;
$base-font:"Roboto";
$base-font-weight: $light;
$base-font-size: 18px;
$base-line-height: 26px;

// Nav Font
$nav-font:"Roboto Condensed";
$nav-font-weight: $light;

// Headings
$header1-font: "Roboto Condensed";
$header1-font-family: sans-serif;
$header1-font-weight: $light;

$header2-font: "Roboto Condensed";
$header2-font-family: sans-serif;
$header2-font-weight: $regular;

// Colors
$base-black:#000000;
$base-black-light:#333333;

$base-white:#FFFFFF;
$base-white-medium:#EFF3F5;

$base-grey:#C5CAD1;
$base-grey-light:#E1E4E9;

$base-blue:#7B95B0;
$base-blue-medium:#4B647F;
$base-blue-row-light:#E4EFF7;
$base-blue-row-medium:#C1D5EB;
$base-blue-dark:#011E3C;

$yellow:#FAEBCC;
$yellow-light:#FCF8E3;
$blue:#BCE8F1;
$blue-light:#D9EDF7;
$green:#D6E9C6;
$green-light:#DFF0D8;

$message-warn:#F4E271;

// Test colors
$test-red:red;
$test-blue:blue;
$test-green:green;
$test-pink:pink;
$test-yellow:yellow;
$test-purple:purple;
$test-brown:brown;



